:root {
  min-height: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 68%);
}

hr {
  border-color: black;
  margin-top: 10px;
  margin-bottom: 4px;
}

/* #routes {
  display: flex;
  flex-direction: center;
} */

header {
  max-height: 200px;
}

body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

img {
  height: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #cecece;
  border-radius: 5px;
}

label {
  font-size: 14px;
  font-weight: bold;
}

small {
  font-size: 12px;
  color: #888;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #cecece;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bfff3;
  color: #f2f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.bern-title {
  text-align: center;
  text-decoration: underline;
}

.main-logo {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.listing-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.single-listing-details {
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.listing-img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.add-to-cart-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bfff3;
  color: #f2f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

.loading-text {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
}

.cart-container {
  max-width: 600px;
  margin-left: 348px;
  margin-right: 348px;
  margin-bottom: 400px;
  padding: 20px;
}

.listing-item {
  border: 1px solid #cecece;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 100px;
}

.listing-item p {
  margin: 5px 0;
}

.listing-name {
  font-weight: bold;
}

.listing-price {
  font-size: 18px;
}

.listing-quantity {
  display: flex;
  align-items: center;
}

.listing-quantity button {
  padding: 5px 10px;
  margin: 1px;
  font-size: 14px;
  background-color: #007bfff3;
  color: #fcfcfc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.listing-quantity button:hover {
  background-color: #0056b3;
}

.cart-total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.empty-cart {
  font-size: 18px;
  font-style: italic;
  margin: 20px 0;
}

.checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #1f9231;
}

.cart-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.listing-item {
  border: 1px solid #cecece;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 100px;
}

.listing-item p {
  margin: 5px 0;
}

.listing-name {
  font-weight: bold;
}

.listing-price {
  font-size: 18px;
}

.listing-quantity {
  display: flex;
  align-items: center;
}

.listing-quantity button {
  padding: 5px 10px;
  margin: 1px;
  font-size: 14px;
  background-color: #007bfff3;
  color: #fcfcfc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.listing-quantity button:hover {
  background-color: #0056b3;
}

.cart-total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.empty-cart {
  font-size: 18px;
  font-style: italic;
  margin: 20px 0;
}

.complete-checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.complete-checkout-button:hover {
  background-color: #1f9231;
}

.welcome {
  font-size: 36px;
  font-weight: bold;
}

.all-listings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.renter-listings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.listing-container {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  margin: 10px;
  text-align: center;
}

.listing-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.listing-container a {
  text-decoration: none;
  color: #262626;
}

.listing-container a:hover {
  color: #007bfff3;
}

.listing-name {
  font-weight: bold;
}

.listing-price {
  margin-top: 5px;
  font-size: 18px;
}

.landing-container {
  text-align: center;
  margin: 20px;
}

.landing-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.landing-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.edit-renter-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.edit-renter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-user-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.edit-user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  display: block;
}

/* .navlinks-container {
  height: 100px;
} */

nav {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

nav a {
  padding: 5px 10px;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1em;
}

.navlinks {
  /* height: 100%; */
  margin: 20px;
}

#cartlink {
  position: absolute;
  right: 20px;
  top: 201px;
}

form div {
  margin: 1em;
  display: inline-block;
}

tbody {
  background-color: #e4f0f5;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.9rem;
}

tr {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
  text-align: center;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.searchBarField {
  width: 350px;
  height: 27px;
  border: 0.5px solid grey;
  padding: 8px;
  font-size: large;
}

.googleMapBox {
  margin-top: 0;
  position: absolute;
  right: .5px;
}

@media only screen and (max-width: 760px) {
  .searchBarContainer {
    top: 60px;
  }
}

@media only screen and (max-width: 670px) {
  nav {
    height: auto;
  }

  nav a {
    margin-top: 50px;
  }

  .googleMapBox {
    top: 300px;
  }
}

@media only screen and (max-width: 900px) {
  #cartlink {
    top: 250px;
  }
}