@import url(https://fonts.googleapis.com/css?family=Bangers);

:root {
  min-height: 100%;
  background: rgb(248 248 65 / 77%);
}

hr {
  border-color: black;
  margin-top: 10px;
  margin-bottom: 4px;
}

header {
  max-height: 200px;
}

body {
  font-family: 'Bangers', cursive;
  display: grid;
  gap: 20px;
  place-content: center;
  align-items: center;
}

a {
  text-decoration: none;
}

img {
  height: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin: 0 auto;
  padding: 20px;
}

select {
  border: 4px solid black;
  border-radius: 15px;
}

label {
  display: block;
  font-size: 14px;
}

small {
  font-size: 15px;
  color: #888;
  font-weight: 100;
}

input {
  width: 100%;
  padding: 8px;
  border: 4px solid black;
  border-radius: 50px;
}

textarea {
  width: 100%;
  padding: 8px;
  border: 4px solid black;
  border-radius: 25px;
}

button {
  font-weight: bold;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bfff3;
  color: #f2f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.bern-title {
  text-align: center;
  text-decoration: underline;
}

.main-logo {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.edit-listing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-listing-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.edit-listing-label {
  margin-top: 10px;
}

.single-listing-container {
  border: 7px solid #000000;
  border-radius: 20px;
  padding: 10px;
  width: 250px;
  margin: 10px;
  text-align: center;
  background-color: #a8deff;
}

.listing-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.listing-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  font-size: 20px;
}

.single-listing-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  font-size: 20px;
}

.review-form {
  position: relative;
  left: 500px;
  bottom: 620px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reviews-list {
  position: relative;
  left: 525px;
  bottom: 620px;
  border: 4px solid #000000;
  border-radius: 25px;
  padding: 10px;
  width: 250px;
  margin: 10px;
  text-align: center;
  background-color: plum;
}

.reviews-ratings-comments {
  text-align: start;
}

.listing-img {
  max-width: 100%;
  height: auto;
  margin: 10px 0;
}

.add-to-cart-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bfff3;
  color: #f2f1f1;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-to-cart-button:hover {
  background-color: #0056b3;
}

#order-details-title {
  position: relative;
  left: 40px;
}

.cart-item {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  margin: 10px;
  text-align: center;
}

.payment-form {
  border: 1px solid #cfcfcf;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  margin: 10px;
  text-align: center;
}

.loading-text {
  font-size: 18px;
  font-style: italic;
  margin-top: 20px;
}

.listing-item {
  border: 1px solid #cecece;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 100px;
}

.listing-item p {
  margin: 5px 0;
}

.listing-name {
  font-weight: bold;
}

.listing-price {
  font-size: 18px;
}

.cart-listing-single {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.cart-listing-item {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.cart-listing-item p {
  margin: 5px 0;
}

.cart-listing-price {
  font-size: 18px;
}

.listing-quantity button {
  padding: 5px 10px;
  margin: 1px;
  font-size: 14px;
  background-color: #007bfff3;
  color: #fcfcfc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.listing-quantity button:hover {
  background-color: #0056b3;
}

.cart-total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.checkout-button {
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.checkout-button:hover {
  background-color: #1f9231;
}

.cart-container {
  max-width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #000000;
  border: 10px solid #a8deff;
  border-radius: 25px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cart-title {
  color: white
}

.listing-item {
  border: 1px solid #cecece;
  padding: 10px;
  margin: 10px 0;
  margin-bottom: 100px;
}

.listing-item p {
  margin: 5px 0;
}

.listing-name {
  font-weight: bold;
}

.listing-price {
  font-size: 18px;
}

.listing-quantity {
  display: flex;
  align-items: center;
}

.listing-quantity button {
  padding: 5px 10px;
  margin: 1px;
  font-size: 14px;
  background-color: #007bfff3;
  color: #fcfcfc;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.listing-quantity button:hover {
  background-color: #0056b3;
}

.cart-total {
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
}

.empty-cart {
  font-size: 18px;
  font-style: italic;
  margin: 20px 0;
  color: white;
}

.complete-checkout-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.complete-checkout-button:hover {
  background-color: #1f9231;
}

.welcome {
  font-size: 36px;
  color: black;
  font-weight: 100;
}

.all-listings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.renter-listings-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.listing-container {
  border: 7px solid #000000;
  border-radius: 20px;
  padding: 10px;
  width: 250px;
  margin: 10px;
  text-align: center;
  background-color: #a8deff;
}

.listing-container img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.listing-container a {
  text-decoration: none;
  color: #262626;
}

.listing-container a:hover {
  color: #007bfff3;
}

.listing-name {
  font-weight: bold;
}

.listing-price {
  margin-top: 5px;
  font-size: 18px;
}

.landing-container {
  text-align: center;
  margin: 20px;
}

.landing-heading {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
}

.landing-image {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 20px;
}

.landing-letter-images {
  width: 300px;
  height: 200px;
}

.edit-renter-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-renter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.edit-user-text {
  display: flex;
  flex-direction: column;
}

.edit-user-container {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

/* save changes to edited user info button */

.edit-details-button {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-changes-button {
  border-radius: 2px black;
}

.navlinks-container {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.link {
  --c: #000000;
  --b: .13em;
  --d: 10px;
  --_s: calc(var(--d) + var(--b));
  color: #ffffff;
  border: solid #0000;
  border-width: var(--b) var(--b) var(--_s) var(--_s);
  background: conic-gradient(at left var(--d) bottom var(--d), #0000 90deg, rgb(255 255 255 /0.3) 0 225deg, rgb(255 255 255 /0.6) 0) border-box, conic-gradient(at left var(--_s) bottom var(--_s), #0000 90deg, var(--c) 0) 0 100%/calc(100% - var(--b)) calc(100% - var(--b)) border-box;
  transform: translate(calc(var(--d)/-1), var(--d));
  clip-path: polygon(var(--d) 0%, var(--d) 0%, 100% 0%, 100% calc(100% - var(--d)), 100% calc(100% - var(--d)), var(--d) calc(100% - var(--d)));
  transition: 0.5s;
  font-size: 1.5rem;
  margin: 0;
  cursor: pointer;
  padding: 0 0.1em;
  background-color: #f53ce2;
  font-weight: 100;
  font-family: "Bangers", cursive;
  border-radius: 0px;
}

.link:hover {
  transform: translate(0, 0);
  clip-path:
    polygon(0% var(--d),
      var(--d) 0%,
      100% 0%,
      100% calc(100% - var(--d)),
      calc(100% - var(--d)) 100%,
      0% 100%);
}

h3 {
  font-size: 1.8rem;
  margin: 0;
  cursor: pointer;
  padding: 0 .1em;
  color: white;
  margin-bottom: 10px;
  font-weight: 100;
}

form div {
  margin: 1em;
  display: inline-block;
}

tbody {
  background-color: #e4f0f5;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(200, 200, 200);
  letter-spacing: 1px;
  font-family: sans-serif;
  font-size: 0.9rem;
}

tr {
  border: 1px solid rgb(190, 190, 190);
  padding: 5px 10px;
  text-align: center;
}

.searchBarContainer {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.searchBarField {
  width: 350px;
  height: 27px;
  border: 0.5px solid grey;
  padding: 8px;
  font-size: large;
}

.googleMapBox {
  border: 15px inset #5ce1e6;
  border-radius: 15px;
  height: 69vh;
  width: 120vh;
  margin-top: 15px;
}

.creators {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 20px;
}

.creator {
  width: 40%;
}

.features {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  grid-gap: 20px;
}

/* .bio {
  padding-left: 20px;
}

.creator-name {
  padding-left: 10px;
} */

@media only screen and (max-width: 760px) {
  .searchBarContainer {
    top: 60px;
  }
}

@media only screen and (max-width: 670px) {
  nav {
    height: auto;
  }

  nav a {
    margin-top: 50px;
  }

  .googleMapBox {
    top: 300px;
  }
}

@media only screen and (max-width: 900px) {
  #cartlink {
    top: 250px;
  }
}